body {
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  border-bottom: 2px solid #808080;
  color: #808080;
}

nav {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 6px;
}

.logo {
  text-align: center;
  font-weight: 200;
  font-size: 10px;
  color: #2a2d7c;
  padding: 12px 0;
}

.bold-logo {
  color: #c9523d;
  font-weight: 500;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding: 7px 15px;
}

nav ul li {
  font-size: 13px;
}

.countdown {
  color: #ffffff;
  background-color: #000000;
  font-family: "Open Sans", sans-serif;
  height: 122px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

main {
  font-family: "Open Sans", sans-serif;
  /* height: 500px; Play with this, max-height? */
  display: flex;
  flex-direction: column;
  height: auto;
}

.title {
  font-size: 18px;
  text-align: center;
  margin: 15px;
}

.subtitle {
  text-align: center;
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.carousel {
  /* background-color: #000000; */
  position: relative;
  /* height: 250px; */
  display: flex;
  flex-direction: column;
}

.slide-section {
  background-color: #000000;
  animation-name: transition;
  animation-duration: 1.5s;
}

@keyframes transition {
  from {
    opacity: 50%;
  }
  to {
    opacity: 100%;
  }
}

.slide-section:not(:first-child) {
  display: none;
}

.index {
  color: #ffffff;
  position: absolute;
  font-size: 10px;
  font-weight: 300;
  top: 8px;
  left: 8px;
}

.arrow-left,
.arrow-right {
  color: #ffffff;
  position: absolute;
  top: 50%;
  font-size: 15px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  transition: 0.5s;
  padding: 8px;
  text-align: center;
}

.arrow-left {
  border-radius: 0 3px 3px 0;
}

.arrow-right {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.arrow-left:hover,
.arrow-right:hover {
  background-color: #000000;
}

.image {
  max-width: 100%;
  height: auto;
}

.caption {
  color: #ffffff;
  font-size: 12px;
  margin: 6px 15px;
  bottom: 0px;
  text-align: center;
  position: absolute;
  font-weight: 300;
}

.dot-group {
  display: flex;
  justify-content: space-around;
  width: 25%;
  margin: 15px auto;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #c6d2da;
  cursor: pointer;
}

.dot.active,
.dot:hover {
  background-color: #778a93;
}

/* .arrow-left,
.arrow-right {
  color: #ffffff;
  position: absolute;
  top: 45%;
  font-size: 15px;
  cursor: pointer;
  padding: 10px 12px;
  border: 0; /* remove the white border */
/*border-radius: 0 3px 3px 0;
  background-color: transparent;
  transition: 0.5s;
} */

/* .arrow-left:hover,
.arrow-right:hover {
  background-color: #000000;
} */

/* main .carousel .arrow-right {
  right: 0;
  border-radius: 3px 0 0 3px;
} */

/* main .carousel .slides,
.slide-section {
  height: 100%;
  /* height: 250px; */
/*} */

/* @keyframes transition {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
} */

/* main .carousel .slide-section {
  animation-name: transition;
  animation-duration: 1.5s;
} */

/* main .carousel .image {
  width: 100%;
  height: auto;
  max-height: 100%;
} */

/* main .carousel .order {
  color: #ffffff;
  position: absolute;
  font-size: 10px;
  font-weight: 300;
  top: 8px;
  left: 8px;
} */

/* main .carousel .slide-section:not(:first-child) {
  display: none;
} */

/* main .carousel .caption {
  color: #ffffff;
  font-size: 12px;
  margin: 6px 15px;
  bottom: 0px;
  text-align: center;
  position: absolute;
  font-weight: 300;
} */

/* main .carousel .dots {
  display: flex;
  justify-content: space-around;
  width: 25%;
  margin: 15px auto;
} */

/* main .carousel .dots .dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #c6d2da;
  cursor: pointer;
  transition: background-color 0.5s;
} */

/* main .carousel .dots .dot:hover {
  background-color: #778a93;
} */
/* 
main .carousel .dots .dot.active {
  background-color: #778a93;
} */

main .description {
  padding: 0 15px;
  font-size: 12px;
  line-height: 1.2;
  margin-bottom: 15px;
}

main .description .guest {
  margin-top: 5px;
}

footer {
  background-color: #c6d2da;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column-reverse;
  font-size: 11px;
  padding: 0 15px 20px 15px;
}

footer h3 {
  font-weight: 600;
  margin-top: 20px;
}

footer p,
footer ul {
  margin-top: 10px;
}
