body {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* NAVIGATION */

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  border-bottom: 2px solid #808080;
  color: #808080;
}

nav {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 6px;
}

.logo {
  text-align: center;
  font-weight: 200;
  font-size: 11px;
  color: #2a2d7c;
  padding: 12px 0;
  margin: 0 auto;
}

.bold-logo {
  color: #c9523d;
  font-weight: 500;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding: 7px 15px;
}

nav ul li {
  font-size: 12px;
}

/* COUNTDOWN */

.countdown {
  color: #ffffff;
  background-color: #000000;
  font-family: "Open Sans", sans-serif;
  padding: 38px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

/* MAIN */

main {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  flex-grow: 1;
}

.title {
  font-size: 18px;
  text-align: center;
  margin: 15px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.subtitle {
  text-align: center;
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.slide-section {
  background-color: #000000;
  animation-name: transition;
  animation-duration: 1.5s;
}

@keyframes transition {
  from {
    opacity: 50%;
  }
  to {
    opacity: 100%;
  }
}

.slide-section:not(:first-child) {
  display: none;
}

.index {
  color: #ffffff;
  position: absolute;
  font-size: 8px;
  font-weight: 300;
  top: 3%;
  left: 2%;
}

.arrow-left,
.arrow-right {
  color: #ffffff;
  position: absolute;
  top: 50%;
  font-size: 15px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  transition: 0.5s;
  padding: 8px;
  text-align: center;
}

.arrow-left {
  border-radius: 0 3px 3px 0;
}

.arrow-right {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.arrow-left:hover,
.arrow-right:hover {
  background-color: #000000;
}

.image {
  max-width: 100%;
  height: auto;
}

.caption {
  color: #ffffff;
  font-size: 12px;
  margin: 0 15px;
  bottom: 8px;
  text-align: center;
  position: absolute;
  font-weight: 300;
  left: 0;
  right: 0;
}

.dot-group {
  display: flex;
  justify-content: space-between;
  width: 25%;
  max-width: 80px;
  margin: 15px auto;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #c6d2da;
  cursor: pointer;
}

.dot.active,
.dot:hover {
  background-color: #778a93;
}

main .description {
  padding: 0 15px;
  font-size: 12px;
  line-height: 1.3;
  margin-bottom: 30px;
  max-width: 600px;
}

main .description .guest {
  margin-top: 12px;
}

/* FOOTER */

footer {
  background-color: #c6d2da;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column-reverse;
  padding: 10px 20px;
  line-height: 1.2;
}

footer h3 {
  font-size: 11px;
}

.footer-item {
  margin: 10px 0;
}

footer h3 {
  font-weight: 600;
}

footer p,
footer ul {
  margin-top: 10px;
  font-size: 10px;
}

/* For tablet */
@media screen and (min-width: 600px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin: 0;
  }

  .logo {
    margin: 0 0 0 25px;
    padding: 0;
  }

  nav ul {
    padding: 0;
    width: 20%;
    margin-right: 25px;
    display: flex;
    justify-content: space-between;
  }

  .countdown {
    font-size: 60px;
  }

  .subtitle {
    font-size: 14px;
  }

  .caption {
    font-size: 15px;
    bottom: 12px;
  }

  .arrow-left,
  .arrow-right {
    font-size: 25px;
    padding: 15px;
  }

  .index {
    font-size: 10px;
    top: 3%;
    left: 3%;
  }

  main .description {
    font-size: 15px;
  }

  footer {
    flex-direction: row;
    padding: 0 18px;
  }

  footer h3 {
    font-size: 13px;
  }

  footer p,
  footer ul {
    font-size: 12px;
  }

  .footer-item {
    margin: 0 10px;
    padding: 20px 0 15px 0;
  }

  .footer-item li {
    margin: 5px 0;
  }
}

/* For desktop */
@media screen and (min-width: 769px) {
  nav ul {
    width: 12%;
  }
  nav ul li {
    font-size: 13px;
  }
}
